nav{
    height:80px;
    padding: 0 var(--wrapper);
}

section.features{
    padding: 8vh var(--wrapper);

    .text-area{
        width: 33.33%
    }

    .content-area{
        width:66.66%
    }
}

section.join-us{
    .text-area{
        padding-left: var(--wrapper);
        padding-right: calc(var(--wrapper) / 2);
    }

    .image-area{
        img{
            max-height: 500px;
            aspect-ratio: 4 / 3;
            object-fit: cover;
        }
    }
}

section.testimonials{
    padding-top: 8vh;
    padding-bottom: 8vh;

    .testimonial-area{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .testimonial{
            aspect-ratio: 9 / 12;
            width: 33%;

            .testimonial-content{
                background: rgba(255,255, 255, .3);
                border:1px solid white;
                backdrop-filter: blur(6px);
            }
        }
    }
}